.main-nav {
  display: flex;
  background: #D2042D;
  color: #F2F3F4;
  border-radius: 3px;
  padding: 1em;
  font-family:Arial, Helvetica, sans-serif;
}

.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex: 3;
}

.main-nav li {
  margin-right: 2em;
}

.main-nav li a {
  color: #F2F3F4;
  text-decoration: none;
} .main-nav li a:hover {
  color: #ccc;
}

.main-nav #logo {
  display: inline-block;
  margin-right: auto;
}

.main-nav #login {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

* {
  box-sizing: border-box;
}

.sisalto {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.kortti {
  width: 700px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,3);
}

.kortti img {
  max-width: 100%;
}

.kortti .text, .kartta{
  padding: 0 20px 20px;
}

footer {
  background-color: #D2042D;
  height: 10em;
  padding: 1em;
  color: #F2F3F4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-ravintolat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 2em;
  background-color: #F2F3F4;
  border-radius: 8px;
}

.hakukentta {
  padding: 1rem;
  border: 0;
  border-radius: inherit;
  flex-grow: 1;
  font-size: 1rem;

}

.hakunappi {
  padding: 1rem 2.5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #E34234;
  border-radius: inherit;
  font-size: 1rem;
  width: max-content;
  flex-shrink: 0;
}

.ravintolat {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.haettu-ravintola {
  width: 400px;
  height: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,3);
}

.haettu-ravintola-teskti {
  padding: 0 20px 20px;
}



